/*
!.gitignore
!/wp-content/
/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/
/wp-content/themes/*
!/wp-content/themes/dt-time/
!/wp-content/copy_doc/
/wp-content/plugins/*
!/wp-content/plugins/wp-job-manager/
aaa
